<video id="qrvideo" width="500" height="400" style="top: 25%; left: 30%; position: absolute;"></video>
<video id="barcodevideo" width="300" height="200" style="display: none"></video>
<div class="row" style="width:100%; background-color: #fff; position:absolute; top: 20%; left: 15%;">
    <div class="col-md-9" style="box-shadow: 3px 3px 20px 0 #000000a6; border-radius: 3px;" [style.display]="showCart">
        <div class="row" style="margin: 1em;">
            <h3>Add product to cart</h3>
            <span role="button" (click)="close()" class="close">&times;</span>
        </div>
        <div class="row" style="padding: 1em; border-bottom: .5px #0000007a solid;">
            <div class="col-md-3"></div>
            <div class="col-md-6"><h5>Product</h5></div>
            <!-- <div class="col-md-3"><h5>Quantity</h5></div> -->
            <div class="col-md-3"><h5>Price</h5></div>
        </div>
        <div *ngIf="list.length>0" class="list">
            <div class="row" style="padding: 1em; border-bottom: .5px #0000007a solid;" *ngFor="let item of list">
                <div class="col-md-3"><img src="assets/images/item-cart-04.jpg" alt="IMG"></div>
                <div class="col-md-6"><span>{{item.productTitle}}</span><br> <span style="font-size: 12px;">{{item.description}}</span></div>
                <div class="col-md-3"><p>{{item.price}}</p></div>
                <!-- <div class="col-md-3"><p>{{item.quantity}}</p></div> -->
            </div>
        </div>
        <div class="row" style="margin: 1em;">
            <a (click)="close()" style="margin-left: 18em; color: #fff;"
             class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                    Continue
            </a>
            <a (click)="goToCart()"  style="color: #fff;"
            class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                    Proceed to pay
            </a>
        </div>
    </div>
</div>
