
<div class="row" style="width:100%; ">
        <div class="col-md-10">
            <div class="row" style="margin:1em">
                <div class="col-md-10"><h4>Company Name</h4></div>
                <div class="col-md-2"><h4>Invoice</h4></div>
            </div>
            <div class="row" style="margin:1em">
                <div class="col-md-10">Shipping Address<br>123 Road, Bangalore Road<br>Bangalore, 163531</div>
                <div class="col-md-2">Date: {{today | date: 'dd MMM yyyy'}}</div>
            </div>
            <div class="row" style="margin:1em">
                <div class="col-md-12">
                    <table style="width:100%;border: .25px #0000004f solid;">
                        <tr style="border-bottom: .25px #0000004f solid;">
                            <th style="padding: 5px;"><h5>Description</h5></th>
                            <th style="padding: 5px;"><h5>Quantity</h5></th>
                            <th style="padding: 5px;"><h5>Total</h5></th>
                        </tr>
                        <tr *ngFor="let list of items">
                            <td style="padding: 5px;">{{list.productTitle}}</td>
                            <td style="padding: 5px;">{{list.quantity}}</td>
                            <td style="padding: 5px;">{{list.total}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10"></div>
                <div class="col-md-2"> Shipping: Rs. 50<br><p style="font-weight: 600;">Subtotal: {{subTotal}}</p>
                <br><p style="font-weight: 600;border-top: 1px #0000004f solid">Total: {{payable}}</p>
                </div>
            </div>
        </div>
    </div>